# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend.pnp.js
/backend/kidalaenv
/kebab/env

# testing
/frontend/coverage
/backend/script.py

# next.js
/frontend/.next/
/frontend/out/

# production
/frontend/build

# misc
/frontend.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# cache
/backend/__pycache__
/kebab/__pycache__

#files
/backend/files

# socket

# The directory Mix will write compiled artifacts to.
/socket/_build/

# If you run "mix test --cover", coverage assets end up here.
/socket/cover/

# The directory Mix downloads your dependencies sources to.
/socket/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/socket/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/socket/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
/socket/erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
/socket/*.ez

# Ignore package tarball (built via "mix hex.build").
/socket/socket-*.tar

# Ignore assets that are produced by build tools.
/socket/priv/static/assets/

# Ignore digested assets cache.
/socket/priv/static/cache_manifest.json

# In case you use Node.js/npm, you want to ignore these.
/socket/npm-debug.log
/socket/assets/node_modules/

