# dependencies
**/node_modules
**/.pnp
**.pnp.js
/backend/kidalaenv
**/.next
/frontend/node_modules
/frontend/.pnp
/frontend.pnp.js
/borsch/kidalaenv
/kebab/env
/kebab/venv
/socket/assets/node_modules/
/socket/deps/

# testing
**/coverage
/backend/script.py

# next.js
**/.next/
**/out/

# production
**/build
/socket/_build/

# misc
**.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/socket/npm-debug.log

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
/borsch/.env

#borsch env files
/borsch/flask.env

# vercel
.vercel

# cache
/backend/__pycache__
**/__pycache__

#files
/kebab/files
/borsch/files
/backend/files

# socket

/socket/cover/

/socket/doc/

/socket/.fetch

/socket/erl_crash.dump

/socket/*.ez

/socket/socket-*.tar

/socket/priv/static/assets/

/socket/priv/static/cache_manifest.json
