@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    * {
        @apply p-0 m-0 box-border font-poppins;
    }

    body {
        @apply bg-primary-900;
    }

    h1 {
        @apply text-4xl font-extrabold;
    }

    h2 {
        @apply text-3xl font-extrabold;
    }

    strong {
        @apply font-bold text-base;
    }

    .page {
        @apply min-h-screen w-full bg-primary-900 flex flex-col items-center justify-start;
    }

    .link {
        @apply text-white hover:underline focus:underline cursor-pointer;
    }

    .track {
        @apply w-full h-1.5 relative overflow-hidden rounded-lg bg-accent;
    }

    .vol_track {
        @apply w-full h-1 relative overflow-hidden rounded-lg bg-accent-hover;
    }

    .animate-track {
        @apply w-full top-0 left-0 absolute transform translate-x-0 p-4 pointer-events-none bg-indigo-100;
    }

    .playerRange {
        @apply w-full bg-transparent;
    }

    .dropbox_animation {
        @apply w-[150%] h-[150%] absolute bg-gradient-to-tr from-primary-900 z-0 to-accent -top-1/4 -left-1/4 animate-border-animate content-none rounded-lg;
    }
}

label,
.no_select {
    user-select: none;
    -webkit-user-select: none;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
}

input[type='range']::-webkit-progress-inner-element {
    -webkit-appearance: none;
    background: transparent;
}

input[type='range']::-webkit-progress-bar {
    -webkit-appearance: none;
    background: transparent;
}

input[type='range'] {
    overflow: hidden;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
}

input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: transparent;
}

.tag_wrapper::-webkit-scrollbar {
    height: 7px;
    width: 6px;
}

.tag_wrapper::-webkit-scrollbar-track {
    background: #0b0e11;
}

.tag_wrapper::-webkit-scrollbar-thumb {
    background: #242c37;
    border-radius: 4px;
}

.tag_wrapper::-webkit-scrollbar-thumb:hover {
    background: #fd4d4d;
}
